/* --------index---------- */

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background: url('http://ohggtqwxx.bkt.clouddn.com/bg4.jpg') 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    width: 100%;
    background-color: #5f74ac;
    position: fixed;
    height: 67px;
    z-index: 10000;
    top: 0;
    .add-note {
        float: left;
        font-size: 24px;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        padding: 16px 1px;
        color: #fed136;
        margin-left: 100px;
        text-decoration: none;
        transition: all .5s;
        &:hover {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;
        }
    }
    .user-area {
        float: right;
        margin-right: 120px;
        li {
            float: left;
            list-style: none;
            line-height: 34px;
            font-size: 14px;
            margin-right: 10px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-top: -8px;
                transition: all 1s;
                &:hover {
                    transform: rotate(360deg);
                }
            }
            span {
                color: #fff;
                display: block;
        
            }
            .logout {
                text-decoration: none;
                color: #fff;
            }
            .login{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}