/* --------toast---------- */

.toast {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 5px 10px;
    color: #959698;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: center;
    display: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .6);
    .toast_icon {
        width: 25px;
        vertical-align: middle;
        padding-right: 7px;
    }
    .toast_word {
        vertical-align: middle;
    }
}