<!DOCTYPE html>
<html>

<head>
  <title>便利贴</title>
  <link rel="stylesheet" href="/css/index.css">
  <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/imgs/favicon.ico">
</head>

<body onselectstart="return false" ondragstart="return false">
  <div id="header">
      <a href="https://github.com/shenzekun/sticky-note"><img style="position: absolute; top: -4px; right: -4px; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    <a class="add-note" title="添加笔记" href="#"><i class="fa fa-plus" aria-hidden="true"></i>Add Note</a>

    <ul class="user-area">
      <% if (isLogin){ %>
        <li><img src="<%= user.avatar %>" alt=""></li>
        <li><span title="<%= user.username %>"><%= user.username %></span></li>
        <li><span class="line"> | </span> </li>
        <li><a class="logout" href="/auth/logout">注销</a></li>
        <%} else { %>
          <li><a class="login" title="GitHub登录" href="/auth/github"> GitHub登录</a>
          </li>
          <% } %>
    </ul>

  </div>

  <div id="content"></div>
  <script src="/js/index.js"></script>
  <script src="/js/MarkdownIME.min.js"></script>
  <script>
    document.querySelector("#content").addEventListener("click", function () {
      var note_ct = document.querySelectorAll(".note-ct");
      MarkdownIME.Enhance(note_ct);
    })
  </script>
</body>

</html>