<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <nav class="navbar">
    <a href="javascript:void(0);" class="btn add-note">添加笔记</a>

  </nav>
  <div id="content"></div>
  <script src="/js/index.js"></script>
  <script src="/js/MarkdownIME.min.js"></script>
  <script>
    document.querySelector(".add-note").addEventListener("click", function () {
      var note_ct = document.querySelectorAll(".note-ct");
      console.log(note_ct)
      MarkdownIME.Enhance(note_ct);
    })
  </script>
</body>

</html>