/* --------index---------- */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

body {
  background: url("http://ohggtqwxx.bkt.clouddn.com/bg4.jpg") 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#header {
  width: 100%;
  background-color: #5f74ac;
  position: fixed;
  height: 67px;
  z-index: 10000;
  top: 0; }
  #header .add-note {
    float: left;
    font-size: 24px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    padding: 16px 1px;
    color: #fed136;
    margin-left: 100px;
    text-decoration: none;
    transition: all .5s; }
    #header .add-note:hover {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2px; }
  #header .user-area {
    float: right;
    margin-right: 120px; }
    #header .user-area li {
      float: left;
      list-style: none;
      line-height: 34px;
      font-size: 14px;
      margin-right: 10px; }
      #header .user-area li img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: -8px;
        transition: all 1s; }
        #header .user-area li img:hover {
          transform: rotate(360deg); }
      #header .user-area li span {
        color: #fff;
        display: block; }
      #header .user-area li .logout {
        text-decoration: none;
        color: #fff; }
      #header .user-area li .login {
        color: #fff;
        text-decoration: none; }
/* --------toast---------- */
.toast {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 5px 10px;
  color: #959698;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 3px;
  text-align: center;
  display: none;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6); }
  .toast .toast_icon {
    width: 25px;
    vertical-align: middle;
    padding-right: 7px; }
  .toast .toast_word {
    vertical-align: middle; }
/*--------note----------*/
#content {
  position: relative;
  margin: 75px auto 0; }
  #content .note {
    position: absolute;
    color: #333;
    width: 230px;
    margin: 20px 11px; }
    #content .note:nth-child(even) {
      transform: rotate(1deg);
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      -ms-transform: rotate(1deg); }
    #content .note:nth-child(3n) {
      transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg); }
    #content .note:nth-child(5n) {
      transform: rotate(1deg);
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      -ms-transform: rotate(1deg); }
    #content .note .note-head {
      height: 20px;
      background-color: #ea9b35;
      cursor: move; }
      #content .note .note-head:hover .delete {
        opacity: 1; }
      #content .note .note-head:before {
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translate(-50%);
        -ms-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        content: ' ';
        display: block;
        width: 64px;
        height: 20px;
        background: #35bba3; }
      #content .note .note-head:after {
        position: absolute;
        left: 50%;
        margin-left: 32px;
        top: -11px;
        z-index: -1;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid #299683;
        border-top: 18px solid transparent; }
    #content .note .note-ct {
      padding: 10px;
      background-color: #efb04e;
      outline: none; }
    #content .note .delete {
      position: absolute;
      right: 4px;
      top: -7px;
      font-size: 22px;
      color: #fff;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity .3s; }
    #content .note .note-info {
      line-height: 30px; }
      #content .note .note-info .note-time {
        text-align: right;
        padding-right: 10px;
        color: #fff;
        font-size: 12px; }
      #content .note .note-info .note-name {
        margin-top: -1px;
        text-align: right;
        padding-right: 10px;
        color: #fff;
        margin-bottom: -9px;
        font-size: 14px; }
  #content .draggable {
    opacity: .7;
    z-index: 10; }
/* --------markdown---------- */
blockquote {
  border-left: 5px solid #ccc;
  background: #FFF;
  margin: 1em;
  padding: .1em 1em; }
