/* --------toast---------- */
.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  padding: 5px 10px;
  color: #959698;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 3px;
  text-align: center;
  display: none;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6); }
  .toast .toast_icon {
    width: 25px;
    vertical-align: middle;
    padding-right: 7px; }
  .toast .toast_word {
    vertical-align: middle; }
/*--------note----------*/
.note {
  position: absolute;
  color: #333;
  width: 250px;
  margin: 20px 10px;
  transition: all 0.5s; }
  .note .note-head {
    height: 20px;
    background-color: #ea9b35;
    cursor: move; }
    .note .note-head:hover .delete {
      opacity: 1; }
    .note .note-head:before {
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -32px;
      content: ' ';
      display: block;
      width: 64px;
      height: 18px;
      background: #35bba3; }
    .note .note-head:after {
      position: absolute;
      left: 50%;
      margin-left: 32px;
      top: -11px;
      z-index: -1;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid #299683;
      border-top: 18px solid transparent; }
  .note .note-ct {
    padding: 10px;
    background-color: #efb04e;
    outline: none; }
  .note .delete {
    position: absolute;
    right: 4px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s; }

.draggable {
  opacity: .7; }
/* --------markdown---------- */
blockquote {
  border-left: 5px solid #ccc;
  background: #FFF;
  margin: 1em;
  padding: .1em 1em; }
